
:root{
    --bckgclr:#000;
    --textLight:#D3D3D3;
    --altText:#E5383B;
    --content:#660708;
    --altContent:#B1A7A6;
}
*{
    padding:0;
    margin:0;
    font-size:62.5%;
   color:var(--textLight);
    background-color:#000;
}
.title{
    font-size:4rem;
    position:relative;
    top: 10rem;
    left:25rem;
    border:.5rem solid var(--altText);
    text-align:center;
    width: 70%;
}
.brand{
    width:50%;
    height:30rem;
    border: .1rem solid var(--altText);
    position:relative;
    top:11rem;
    left:40rem;
    box-shadow: 0 0 5rem 0rem var(--altText);
}
.sidebar{
    width:20rem;
    height:66rem;
    background-color:var(--content);
    position:relative;
    bottom:19rem;
    left:10rem;
    box-shadow: 2rem 2rem 0rem 0rem var(--altContent),
    4rem 4rem 0rem 0rem var(--altText),
    6rem 6rem 0rem 0rem var(--textLight);
}